*{
    padding:0;
    margin:0;
    box-sizing: border-box ;

}

.Wangare{
    background-color: antiquewhite;


}
img{
    height: 300px;
    width: 300px;  
    border-radius: 50%;
}

.JOY{
    text-align: center;
}
