*{
    padding:0;
    margin:0;
    box-sizing: border-box ;

}

body{
    background: blueviolet;

}
/*Navbar*/
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.5) ;
    position: sticky;
    top: 0;
}
.nav ul{
    display: flex;
    list-style: none;
    margin: 20px 
}

